USE [master]
GO
/****** Object:  Database [Vlasov]    Script Date: 25.05.2022 16:20:24 ******/
CREATE DATABASE [Vlasov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vlasov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL16\MSSQL\DATA\Vlasov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Vlasov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL16\MSSQL\DATA\Vlasov_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vlasov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vlasov]
GO
USE [Vlasov]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 25.05.2022 16:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Upholstery] [nvarchar](50) NULL,
	[Year_of_issue] [int] NULL,
	[Engine_power] [nchar](10) NULL,
	[Number_of_doors] [nchar](10) NULL,
	[Transmission] [nvarchar](50) NULL,
	[Purchase_price] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 25.05.2022 16:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nchar](11) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
